<html>
<head>
    <title>CivPlanet</title>
</head>
<body>
    <a href="https://github.com/JonnyD/Skynet"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <a href="http://civplanet.com/api/online">http://civplanet.com/api/online</a><br />
    <a href="http://civplanet.com/api/players">http://civplanet.com/api/players</a><br />
    <a href="http://civplanet.com/api/events">http://civplanet.com/api/events</a><br />
    <a href="http://civplanet.com/api/sessions">http://civplanet.com/api/sessions</a><br />
</body>
</html>
